<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>House:</strong>
  <%= @character.house %>
</p>

<p>
  <strong>Title:</strong>
  <%= @character.title %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @character.img_url %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
